h2 {
            color: crimson;
            background-color: black;
        }
        body {
            background-color: darkslategray;
        }
        /* pristup preko ID-a*/
#prvi {
    color: aqua;
}
        /*pristup preko klase*/
.drugi{
    color: brown;
}